{{!< default}}

{{!-- This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. --}}

{{!-- Everything inside the #post tags pulls data from the page --}}
{{#post}}
{{>navigationalt}}

<aside class="menu-left">
  <span tabindex="0" class="menu-icon-left"></span>
  <span class="icon-logo">TTT</span>
  <span class="icon-name">TTT Publicidad</span>
</aside>

<aside class="menu-right">
  <a class="back-icon nav-close" href="{{@blog.url}}">Go back!</a>
  <ul class="social-links">
    <li><a href="mailto:" class="mail">email</a></li>
    <li><a href="" class="facebook">facebook</a></li>
    <li><a href="" class="instagram">instagram</a></li>
  </ul>
</aside>

<main class="content" role="main">
  <article class="{{post_class}}">

    {{#get "posts" order="published_at asc" include="tags" as |about|}}
      {{#foreach about}}
        {{#has tag="who"}}
          <article class="{{post_class}}" id="{{slug}}">
            <section class="post-content">
              <h5 class="post-title">{{title}}</h5>
              <p>{{content}}</p>
            </section>

            <figure class="box"></figure>
          </article>
        {{/has}}

        {{#has tag="what"}}
          <article class="{{post_class}}" id="{{slug}}">
            <section class="post-content">
              <h5 class="post-title">{{title}}</h5>
              <p>{{content}}</p>
              {{#if image}}<figure class="post-image" style="background-image: url('{{image}}')"></figure>{{/if}}
            </section>
          </article>
        {{/has}}

        {{#has tag="product"}}
          <article class="{{post_class}}" id="{{slug}}">
            <section class="post-content">
              {{content}}
            </section>
          </article>
        {{/has}}
      {{/foreach}}
    {{/get}}
  </article>

  <section class="clients">
    <article class="work-sample">
      <h5>Clients</h5>
    </article>
    {{#get "posts" order="published_at asc" include="tags" as |client|}}
      {{#foreach client}}
        {{#has tag="client"}}
          <article class="work-sample" style="background-image: url('{{image}}');">
            <span class="post-title">{{title}}</span>
          </article>
        {{/has}}
      {{/foreach}}
    {{/get}}
  </section>
</main>
{{/post}}
